.objectEdit > .stageComposer .row.timeline
{
    flex-direction: column;
    .enemyTimeline
    {
        height: 32px;
        display: block;

        .selected
        {
            background-color: rgba(255,255,255,0.2);
        }
    }

    input
    {
        display: block;
    }
}