.objectList
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
}

.objectEdit
{
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    padding: 8px 16px;
    box-sizing: border-box;

    & > div:not(.stageComposer)
    {
        & > *
        {
            width: 400px;
        }

        margin-bottom: 8px;
    }

    & > h1
    {
        font-size: 32px;
        margin: 0;
        margin-bottom: 8px;
        margin-top: 12px;
    }
}

.error
{
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    background: red;
    z-index: 1;
}