@import "../../../../variables.scss";

.objectEdit > .stageComposer
{
    padding: 8px 16px;
    position: fixed;
    left: 0;
    top: 0;
    background: $appBackground;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;

    .row.header
    {
        margin-bottom: 16px;

        h1
        {
            margin: 0;
            font-size: 32px;
            margin-left: 16px;
        }

        .refreshScripts
        {
            margin-left: auto;
        }
    }

    .row
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4px;
    }

    .col
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .edit
    {
        flex-grow: 1;
        align-items: stretch;

        & > *
        {
            flex-basis: 300px;
        }

        & > .stageInfo
        {
            .label
            {
                width: 92px;
            }

            input
            {
                width: 0;
            }

            input, select
            {
                flex-grow: 1;
            }
        }

        & > .stagePreview
        {
            flex-grow: 1;
            border: 1px solid $controlBorderColor;
            border-top: 0;
            border-bottom: 0;
            box-sizing: border-box;

            .stageRenderer
            {
                position: relative;
                box-sizing: border-box;
                background: rgba(255,255,255,0.1);
                width: 100%;
                height: 100%;

                canvas
                {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform-origin: center;
                    transform: translate(-50%,-50%) scale(1);
                    box-sizing: border-box;
                }
            }
        }
    }

    .propertyEdit
    {
        margin-right: 0;
    }

    .timeline
    {
        padding: 16px 24px;
        box-sizing: border-box;
        margin: 0;

        input
        {
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;
            padding: 0;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        .play
        {
            flex-basis: 64px;
        }
    }
}