.playerView
{
    overflow: hidden;

    .gameContainer
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: center;
        transform: translate(-50%,-50%) scale(1);
        box-sizing: border-box;

        canvas
        {
            box-sizing: border-box;
        }
    }
}