@import "variables.scss";

*
{
    color: $controlForeground;
}

button
{
    background-color: $controlBackground;
    color: $controlForeground;
    border: 1px solid $controlBorderColor;
    padding: 9px 8px;
    // margin: 4px 0;
    cursor: pointer;
    box-sizing: border-box;

    &:hover
    {
        background-color: $controlHoverBackground;
    }

    &.remove
    {
        background: #662233;

        &:hover
        {
            background: #773344;
        }
    }
}

input
{
    background-color: $controlBackground;
    color: $controlForeground;
    border: 1px solid $controlBorderColor;
    padding: 8px;
    margin: 0px 0;
    box-sizing: border-box;

    &:hover
    {
        background-color: $controlHoverBackground;
    }
}

select
{
    background-color: $controlBackground;
    color: $controlForeground;
    border: 1px solid $controlBorderColor;
    padding: 8px;
    margin: 0px 0;
    cursor: pointer;
    box-sizing: border-box;

    &:hover
    {
        background-color: $controlHoverBackground;
    }

    option
    {
        background: black;
        color: white;
    }
}