$appBackground: #111122;
$controlBackground: #333344;
$controlForeground: #eee;
$controlBorderColor: #222233;
$controlHoverBackground: #444455;

$controlBackgroundAlt: #333344;
$controlBorderColorAlt: #eee;